h1{
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #FF8200;
  font-family: 'Gaegu', cursive;
  font-weight: 700;
  text-decoration: none;
  font-size: 130%
}
h2{
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
  color: pink;
  font-family: 'Hi Melody', cursive;
  font-weight: 600;
  border-bottom: 1px dotted coral;
  font-size: 120%
}

#index {
  text-align: center;
  list-style-position:inside;
}
#grid{
  display: grid;
  grid-template-columns: 220px 1fr;
}
ol{
  font-family: 'Gamja Flower', cursive;
  font-weight: 300;
}
p{
    font-family: 'Gaegu', cursive;
    font-weight: 300;
}
#index ol{
  margin-bottom: 0;
  color: black;
}
#grid ol{
  border-right: 1px dashed coral;
}
li{
}



a{
  text-decoration: none;
  color: black;
}
#main_animation{
  animation-duration: 2s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media (max-width : 600px){
  #grid{
    display : block;
  }
  #grid ol{
    text-align: center;
    list-style-position: inside;
    padding: 10px;
    border-right: none;
    border-bottom: 1px dashed coral;
  }
}
