h1{
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #FF8200;
  font-family: 'Gaegu', cursive;
  text-decoration: none;
  font-size: 200%
}
h2{
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
  color: pink;
  font-family: 'Hi Melody', cursive;
  border-bottom: 1px dotted coral;
  font-size: 160%
}
h3{
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
  color: black;
  font-family: 'Hi Melody', cursive;
  font-size: 160%
  margin-top: 0;
}

#index {
  text-align: center;
  list-style-position:inside;
}

ol{
  font-family: 'Gamja Flower', cursive;
  font-size: 120%
}
p{
    font-family: 'Gaegu', cursive;
    font-size: 90%
}
i{
  font-size:80%
}
#index ol{
  margin-bottom: 0;
  color: black;
}


#grid{
  display : block;
}
#grid ol{
  text-align: center;
  list-style-position: inside;
  padding: 10px;
  border-right: none;
  border-bottom: 1px dashed coral;
}

a{
  text-decoration: none;
  color: black;
}

#main_animation{
  animation-duration: 2s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #grid{
    display : block;
  }
  #grid ol{
    text-align: center;
    list-style-position: inside;
    padding: 10px;
    border-right: none;
    border-bottom: 1px dashed coral;
  }
}*/

@media (min-width:768px){
  #grid{
    display: grid;
    grid-template-columns: 220px 1fr;
  }
  #grid ol{
    border-right: 1px dashed coral;
  }
}

/**@media (max-width : 300px){
  #grid{
    display : block;
  }
  #grid ol{
    text-align: center;
    list-style-position: inside;
    padding: 10px;
    border-right: none;
    border-bottom: 1px dashed coral;
  }
}**/
