h1{
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: #FF8200;
  font-family: 'Gaegu', cursive;
  font-weight: 700;
}
h2{
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: pink;
  font-family: 'Hi Melody', cursive;
  font-weight: 600;
}
ol{
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: black;
  font-family: 'Gamja Flower', cursive;
  font-weight: 300;
}
